<html>
    <head>
        {% if title %}
        <title>{{ title }} - Customer Interface</title>
        {% else %}
        <title>Customer Interface</title>
        {% endif %}
    </head>
    <body>
        <div>
            Navigation Menu:
	    <a href="{{ url_for('index') }}">Home</a>
	    <a href="{{ url_for('surveycreation') }}">Create Survey</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
