{% extends "base.html" %} {% block content %}

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success" role="alert">
    <p>Action Detected: {{ message }}</p>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="table-responsive-sm">
    <table class="table table-bordered">
      <caption style="text-align:center">List Of Surveys</caption>
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">JSON</th>
          <th scope="col">Info</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      {% for survey in all_surveys %}
      <tr>
        <td>{{ survey.id }}</td>
        <td>{{ (survey.to_dict())['SurveyName'] }}</td>
        <td>{{ survey.to_dict() }}</td>
        <td>
          <table class="table">
            <tr><td>{{ (survey.to_dict())['Question1'] }} </td></tr>
            <tr><td>{{ (survey.to_dict())['Answer1a'] }} </td></tr>
            <tr><td>{{ (survey.to_dict())['Answer1b'] }} </td></tr>
            <tr><td>{{ (survey.to_dict())['Answer1c'] }} </td></tr>
            <tr><td>{{ (survey.to_dict())['Answer1d'] }} </td></tr>
          </table>
        </td>
        <td>
          <form>
            <a href="/download_zip/{{survey.id}}"><button type="button">Download</button></a><br>
            <a href="/creative/preview/{{survey.id}}"><button type="button">Preview</button></a><br>
            <a href="/delete?id={{survey.id}}"><button type="button">Delete</button></a><br>
            <a href="/edit?id={{survey.id}}"><button type="button">Edit</button></a>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>

{% endblock content %}
