{% extends "base.html" %} {% block content %}

<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Questions</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        {% for survey in all_surveys %}
        <tr>
            <td>{{ (survey.to_dict())['surveyname'] }}</td>
            <td>
                <table class="table">
                    <ol>
                        {% for question_text in survey | get_all_question_text %}
                        <li>{{ question_text }}</li>
                        {% endfor %}
                    </ol>
                </table>
            </td>
            <td>
                <form>
                    <a href="{{ url_for('edit', survey_id=survey.id) }}">
                        <button type="button" class="btn btn-primary">Edit</button>
                    </a>
                    &nbsp;
                    <a href="{{ url_for('preview', survey_id=survey.id) }}">
                        <button type="button" class="btn btn-success">Preview</button>
                    </a>
                    &nbsp;
                    <a href="{{ url_for('download_zip', survey_id=survey.id) }}">
                        <button type="button" class="btn">Download</button>
                    </a>
                    {% if survey|has_reporting %}
                    &nbsp;
                    <a href="{{ url_for('reporting', survey_id=survey.id) }}">
                        <button type="button" class="btn btn-info">Reporting</button>
                    </a>
                    {% endif %}
                    &nbsp;
                    <a href="{{ url_for('download_results', survey_id=survey.id) }}">
                        <button type="button" class="btn btn-info">Results</button>
                    </a>
                    &nbsp;
                    <a href="{{ url_for('delete', survey_id=survey.id) }}" onclick="return confirm('Really delete?')">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}
