runtime: python37

instance_class: F2

env_variables:
  RECEIVER_URL: "https://{{LOCATION}}-{{PROJECT_ID}}.cloudfunctions.net/receiver"
  PROJECT_ID: "{{PROJECT_ID}}"
  TABLE_ID: "{{PROJECT_ID}}.responses.responses"
  AUTH_USERNAME: "{{AUTH_USERNAME}}"
  AUTH_PASSWORD: "{{AUTH_PASSWORD}}"
